@import url("../../_font.scss");
.partieDefilementPersonnel {
  height: 5000px;
  width: 100vw;
  position: relative;
}
.partieDefilementPersonnel .allPersonnel {
  position: sticky;
  top: 0%;
  height: 100vh;
  width: 100%;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn {
  transform: translateX(-50%) translateY(-50%);
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux {
  transform: translateX(70%) translateY(-50%);
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois {
  transform: translateX(190%) translateY(-50%);
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois {
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieUne, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieUne, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieUne {
  width: 50%;
  height: 100%;
  background-color: #212121;
  margin-right: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieUne .partieUneImg, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieUne .partieUneImg, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieUne .partieUneImg {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieUne .partieUneImg img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieUne .partieUneImg img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieUne .partieUneImg img {
  width: 130px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieUne .partieUneDescription, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieUne .partieUneDescription, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieUne .partieUneDescription {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #FBFBFB;
  font-family: Montreal-Bold;
  font-size: 33px;
  line-height: 20px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePhotoTitre, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePhotoTitre, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePhotoTitre {
  width: 100%;
  height: 55%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePhotoTitre .partiePhotoPersonnel, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePhotoTitre .partiePhotoPersonnel, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePhotoTitre .partiePhotoPersonnel {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 40px;
  margin-right: 10px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePhotoTitre .partiePhotoPersonnel img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePhotoTitre .partiePhotoPersonnel img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePhotoTitre .partiePhotoPersonnel img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePhotoTitre .partieTitrePersonnel, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePhotoTitre .partieTitrePersonnel, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePhotoTitre .partieTitrePersonnel {
  width: 50%;
  height: 100%;
  background-color: #FBFBFB;
  border-radius: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePhotoTitre .partieTitrePersonnel img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePhotoTitre .partieTitrePersonnel img, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePhotoTitre .partieTitrePersonnel img {
  width: 58%;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePersonnelNom, .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePersonnelNom, .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePersonnelNom {
  width: 100%;
  height: 45%;
  background-color: #212121;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePersonnelNom span:nth-child(1), .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePersonnelNom span:nth-child(1), .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePersonnelNom span:nth-child(1) {
  color: #FBFBFB;
  font-family: Montreal-Bold;
  font-size: 40px;
}
.partieDefilementPersonnel .allPersonnel .ElementPersonnelUn .partieDeux .partiePersonnelNom span:nth-child(3), .partieDefilementPersonnel .allPersonnel .ElementPersonnelDeux .partieDeux .partiePersonnelNom span:nth-child(3), .partieDefilementPersonnel .allPersonnel .ElementPersonnelTrois .partieDeux .partiePersonnelNom span:nth-child(3) {
  color: #FBFBFB;
  font-family: Montreal-Bold;
  font-size: 19px;
}

@media screen and (max-width: 1350px) {
  .allResponsiveMarc {
    margin-top: 50px;
    width: 100vw;
  }
  .allResponsiveMarc .responsiveMarchandising {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 0px 50px 0px 50px;
    width: 90%;
    height: 420px;
    background-color: #212121;
    border: 1px #303030 solid;
    border-radius: 50px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro img {
    width: 100px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro p {
    font-size: 42px;
    font-family: Montreal-Bold;
    color: #FBFBFB;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    width: 90%;
    height: 200px;
    background-color: #212121;
    border: 1px #303030 solid;
    border-radius: 50px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(1) {
    font-size: 42px;
    font-family: Montreal-Bold;
    color: #FBFBFB;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(3) {
    font-size: 20px;
    font-family: Montreal-Bold;
    color: #FBFBFB;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage {
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage #imgResUn {
    width: 45%;
    border-radius: 50px;
    position: relative;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg {
    width: 45%;
    border-radius: 50px;
    position: relative;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg .imgCassandra {
    border-radius: 50px;
    width: 100%;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg .testImg {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg .testImg img {
    width: 80%;
  }
}
@media screen and (max-width: 721px) {
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro {
    height: 280px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro img {
    width: 80px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro p {
    font-size: 30px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom {
    height: 180px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(1) {
    font-size: 30px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(3) {
    font-size: 15px;
  }
}
@media screen and (max-width: 546px) {
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro {
    height: 250px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro img {
    width: 60px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieIntro p {
    font-size: 20px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom {
    height: 150px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(1) {
    font-size: 25px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieNom span:nth-child(3) {
    font-size: 12px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage #imgResUn {
    width: 100%;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg {
    width: 100%;
    margin-bottom: 50px;
  }
  .allResponsiveMarc .responsiveMarchandising .responsivePartieImage .responsiveImg .imgCassandra {
    width: 100%;
  }
}/*# sourceMappingURL=defilementPersonnel.css.map */