

@font-face {
    font-family: 'Montreal-Bold';
    src: url(../src/assets/fonts/6631fb4f52b0216cbc1f5f30_PPNeueMontreal-Bold\ \(1\).otf);
}

@font-face {
    font-family: 'Montreal-Medium';
    src: url(../src/assets/fonts/6631fb501e4bcda548f7e964_PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Montreal-Regular';
    src: url(../src/assets/fonts/6631fb5075b57888eff77278_PPNeueMontreal-Regular.otf);
}

@font-face {
    font-family: 'Montreal-SemiBold';
    src: url(../src/assets/fonts/6631fb507fda9fdadfd89e44_PPNeueMontreal-SemiBold.otf);
}
