@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("_font.scss");

*,
::before,
::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: #F3F3F3;
    overflow-x: hidden;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


.AllPageAnim {
  transition: all 0.5s ease-in-out;
}

.partieIntro {
  height: 90vh;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}


  
  .visibleSpan {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.1s 0.1s all;
  }
  
  .invisibleSpan {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.1s all;
    transform: translateY(35px);
  }
  
  .invisibleSpan.upSpan {
    transform: translateY(0px);
    transition: 0.1s 0.1s all;
  }
  
  .visibleSpan.upSpan {
    transform: translateY(-35px);
    transition: 0.1s all;
  }

  .imgSoloMerchandising{
    transform: scale(2) rotateX(6deg) rotateY(-16deg) translateX(45.5%) translateY(-44%);
  }

  .bigImgMerchandising{
    transform: rotateX(6deg) rotateY(-16deg);
  }

.animAllBar{
  -webkit-animation:animbare 20s linear  infinite;
    -moz-animation: animbare 20s linear  infinite;
     -ms-animation: animbare 20s linear  infinite;
      -o-animation: animbare 20s linear  infinite;
         animation: animbare 20s linear  infinite;
}

@keyframes animbare {
  from{transform: translateX(0px);}
  to{transform: translateX(-1200px);}
}

@keyframes animbareTablette {
  from{transform: translateX(0px);}
  to{transform: translateX(-1600px);}
}

@keyframes animbarePcPortable {
  from{transform: translateX(0px);}
  to{transform: translateX(-2000px);}
}

@keyframes animbarePc{
  from{transform: translateX(0px);}
  to{transform: translateX(-2400px);}
}

@keyframes animbareBigScreen{
  from{transform: translateX(0px);}
  to{transform: translateX(-2800px);}
}

@media screen and (min-width: 480px) {
    .animAllBar{
    -webkit-animation:animbareTablette 20s linear  infinite;
    -moz-animation: animbareTablette 20s linear  infinite;
    -ms-animation: animbareTablette 20s linear  infinite;
    -o-animation: animbareTablette 20s linear  infinite;
    animation: animbareTablette 20s linear  infinite;
  }
}

@media screen and (min-width: 768px) {
    .animAllBar{
    -webkit-animation:animbarePcPortable 20s linear  infinite;
    -moz-animation: animbarePcPortable 20s linear  infinite;
    -ms-animation: animbarePcPortable 20s linear  infinite;
    -o-animation: animbarePcPortable 20s linear  infinite;
    animation: animbarePcPortable 20s linear  infinite;
  }
}

@media screen and (min-width: 1024px) {
    .animAllBar{
    -webkit-animation:animbarePc 20s linear  infinite;
    -moz-animation: animbarePc 20s linear  infinite;
    -ms-animation: animbarePc 20s linear  infinite;
    -o-animation: animbarePc 20s linear  infinite;
    animation: animbarePc 20s linear  infinite;
  }
}

@media screen and (min-width: 1600px) {
    .animAllBar{
    -webkit-animation:animbareBigScreen 20s linear  infinite;
    -moz-animation: animbareBigScreen 20s linear  infinite;
    -ms-animation: animbareBigScreen 20s linear  infinite;
    -o-animation: animbareBigScreen 20s linear  infinite;
    animation: animbareBigScreen 20s linear  infinite;
  }
}



@media screen and (max-width: 1600px) {
    .partieIntro {
      height: auto;
    }
  }
  @media screen and (max-width: 1110px) {
    .imgSoloMerchandising{
      transform: scale(0) rotateX(0deg) rotateY(0deg) translateX(45.5%) translateY(-44%);
    }
    .bigImgMerchandising{
      transform: rotateX(0deg) rotateY(0deg);
    }
  }