body {
  background-color: #F3F3F3;
}

.visibleSpan {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.1s 0.1s all;
}

.invisibleSpan {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.1s all;
  transform: translateY(35px);
}

.invisibleSpan.upSpan {
  transform: translateY(0px);
  transition: 0.1s 0.1s all;
}

.visibleSpan.upSpan {
  transform: translateY(-35px);
  transition: 0.1s all;
}