@import '../../variable';
@import url('../../_font.scss');



.defilementBar{
    transform: translateY(50%);
    transition: transform 0.4s 0.8s ease-out;
    width: 100%;
    height: 13%;
    @include display(row,start,center);
    .defilementBarAll{
        width: 70%;
        max-width: 1800px;
        height: 80%;
        background-color: $noir;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        .defilementBarTitre{
            font-size: 35px;
            width: 100%;
            height: 30%;
            position: absolute;
            left: 0%;
            top: 20%;
            @include display(row,center,center);
            color: $blanc;
        }
        .allBar{
            height: 30%;
            width: 4500px;
            position: absolute;
            left: 0%;
            bottom: 20%;
            @include display(row,center,center);
            .imgDefilement{
                width: 1500px;
                height: 100%;
                @include display(row,center,space-around);
                & img:nth-child(1){
                    width: 120px;
                    height: 100px;
                }
                & img:nth-child(2){
                    width: 150px;
                    height: 25px;
                }
                & img:nth-child(3){
                    width: 80px;
                    height: 15px;
                }
                & img:nth-child(4){
                    width: 150px;
                    height: 40px;
                }
                & img:nth-child(5){
                    width: 90px;
                    height: 30px;
                }
                & img:nth-child(6){
                    width: 60px;
                    height: 30px;
                }
            }
        }
    }
}


.animAllBar{
    @include compatibilite(animbare 90s linear  infinite);
}

@keyframes animbare {
    from{transform: translateX(0px);}
    to{transform: translateX(-3000px);}
}

.animAllBarResponsive{
    @include compatibilite(animbareResponsive 90s linear  infinite);
}

@keyframes animbareResponsive {
    from{transform: translateX(0px);}
    to{transform: translateX(-2222px);}
}

@media screen and (max-width: 1740px) {
    .defilementBar{
        height: 150px;
        .defilementBarAll{
            width: 80%;
        }   
    }
  }

@media screen and (max-width: 1100px) {
    .defilementBar{
        .defilementBarAll{
            width: 90%;
            height: 120px;
            .allBar{
                width: 3333px;
                .imgDefilement{
                    width: 1111px;
                }
            }
        }   
    }
  }

  @media screen and (max-width: 680px) {
    .defilementBar{
        height: 150px;
          
    }
  }





