@import url("../../_font.scss");
.animAllBar{
  -webkit-animation:animbare 90s linear  infinite;
    -moz-animation: animbare 90s linear  infinite;
     -ms-animation: animbare 90s linear  infinite;
      -o-animation: animbare 90s linear  infinite;
         animation: animbare 90s linear  infinite;
}

@keyframes animbare {
  from{transform: translateX(0px);}
  to{transform: translateX(-3000px);}
}

.animAllBarResponsive{
  -webkit-animation: animbareResponsive 90s linear  infinite;
    -moz-animation: animbareResponsive 90s linear  infinite;
     -ms-animation: animbareResponsive 90s linear  infinite;
      -o-animation: animbareResponsive 90s linear  infinite;
         animation: animbareResponsive 90s linear  infinite;
}

@keyframes animbareResponsive {
  from{transform: translateX(0px);}
  to{transform: translateX(-2222px);}
}