*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pageAccueil{
  transition: all 0.5s  ease-in-out;
}

.affichageAccueil{
  height: 90vh;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.partieCard{
  height: 1300px;
}

body{
  overflow-x:hidden;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1740px) {
  .affichageAccueil{
    height: auto;
  }
}

@media screen and (max-width: 1350px) {
  .partieCard{
    height: 2100px;
  }
  
 }

